.home-container{
    margin: 0 auto;
    max-width: 1200px;
}

.home-container .header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background: url('../../imgs/decobackground.jpg');
    box-shadow: 1px 3px 10px black;
}
.home-container .header-div div{
    color: #B1013D;
    display: flex;
    align-items: center;
    font-family: monospace;
}
.home-container .header-div div:nth-child(1) h1{
    font-size: 3rem;
    font-weight: bold;
}

.home-container .header-div div:nth-child(1) h1 b{
    color: #36057D;
}
.home-container .header-div div:nth-child(1) h2{
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    color: black;
}
.home-container .header-div div:nth-child(2) p {
    font-size: 1.2rem;
    font-family: roboto;
    color: black;
    text-align: right;
    margin-right: 10px;
}
.home-container .header-div div:nth-child(2) {
    width: 35%;
}

.carousel-item {
    height: 500px;
}
.carousel-item img{
    height: 600px;
}
.carousel-div {
    width: 60%;
    margin: 10px auto;
}

.home-container header ul{
    display: flex;
    background: #0e6ae2;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.home-container header ul li{
    margin: 0 10px;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    
    transition: 0.4s all;
}
.home-container header ul li:hover{
    background-color: rgba(255,255,255,0.5);

}

.home-container main {
    margin: 20px auto;
    max-width: 1200px;
}
.home-container main form{
    width: 100%;
    margin-left: 5px;
}
.home-container main form input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}
.home-container main form input:focus{
    border-color: #0e6ae2;
}
.home-container main .main-div{
    display: flex;
}
.home-container main .main-div .category-list{
    background: white;
    height: 100%;
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
    margin-left: 5px;
}
.home-container main .main-div .category-list li{
    
    border-bottom: 1px solid black;
    font-weight: 500;
    background-color: white;
    width: 300px;
    height: 100%;
    font-size: 18px;
}

.home-container main .main-div .category-list button{
    padding: 10px;
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    text-align: left;
}
.home-container main .main-div .category-list button:hover{
    background-color: gainsboro;
}

.home-container main .products-div .products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 50px;
}
.home-container main .products-div .products-list li{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0 0 0;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 10px black;
}
.home-container main .products-div .products-list li img{
    width: 250px;
    height: 250px;
}
.home-container main .products-div .products-list li strong{
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
}
.home-container main .products-div .products-list li button{
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    background-color: #0e6ae2;
    color: white;
    border: #0e6ae2;
    transition: 0.5s all;
}
.home-container main .main-div .products-list li button:hover{
    background-color: rgba(14, 106, 226, 0.8);
    cursor: pointer;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
.actions button{
    border: none;
    background: none;
}
.actions button:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.actions p{
    font-size: 18px;
    font-weight: bold;
}

