.home-container{
    margin: 0 auto;
}

.home-container header{
    background: url('../../imgs/6357.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.home-container .header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    height: 400px;
}
.home-container .header-div div:nth-child(1){
    color: #B1013D;
    text-shadow: 1px 2px black;
    display: flex;
    align-items: center;
}
.home-container .header-div div:nth-child(1) h1{
    font-size: 5rem;
    font-weight: bold;
}
.home-container .header-div div:nth-child(1) h1 b{
    color: #36057D;
}
.home-container .header-div div:nth-child(1) h2{
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
}
.home-container .header-div div:nth-child(2) p {
    font-size: 2.2rem;
    font-family: roboto;
    color: white;
    text-shadow: 1px 3px black;
}
.home-container .header-div div:nth-child(2) {
    width: 35%;

}

.home-container .comments-div {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    justify-content: space-between;
    padding: 30px 15px;
    color: white;
}
.home-container .comments-div div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100px;
}
.home-container .comments-div h3{
    font-size: 20px;
    font-family: roboto;
}
.home-container .comments-div p{
    font-size: 20px;
    font-family: roboto;
}

.carousel-caption {
    right: 0;
    left: 0;
    top: 2px;
}
.carousel-indicators {
    bottom: -40px;
}
.carousel-control-next, .carousel-control-prev {
    display: none;
}

.home-container header ul{
    display: flex;
    background: #0e6ae2;
    margin: 0 auto;
    justify-content: center;
}
.home-container header ul li{
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    
    transition: 0.4s all;
}
.home-container header ul li:hover{
    background-color: rgba(255,255,255,0.5);

}

.home-container main {
    margin: 0 auto;
    max-width: 1200px;
}

.home-container main .main-div{
    display: flex;
}
.home-container main .main-div .category-list{
    background: white;
    padding: 10px;
    height: 100%;
    box-shadow: 2px 2px 10px black;
    border-radius: 0 0 5px 5px;
    font-size: 20px;
}
.home-container main .main-div .category-list li{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}
.home-container main .main-div .products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 50px;
}
.home-container main .main-div .products-list li{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0 0 0;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
}
.home-container main .main-div .products-list li img{
    width: 300px;
    height: 300px;
}
.home-container main .main-div .products-list li strong{
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
}
.home-container main .main-div .products-list li button{
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
    background-color: #0e6ae2;
    color: white;
    border: #0e6ae2;
    border-radius: 0 0 5px 5px;

    transition: 0.5s all;
}
.home-container main .main-div .products-list li button:hover{
    background-color: rgba(14, 106, 226, 0.8);
    cursor: pointer;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
.actions button{
    border: none;
    background: none;
}
.actions button:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}
.actions p{
    font-size: 18px;
    font-weight: bold;
}

